global:
  scrape_interval:     5s # By default, scrape targets every 15 seconds.

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'codelab-monitor'

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  - job_name: 'first-service'
    scrape_interval: 5s
    metrics_path: '/first/actuator/prometheus'
    static_configs:
      - targets: ['host.docker.internal:8881']
  - job_name: 'second-service'
    scrape_interval: 5s
    metrics_path: '/second/actuator/prometheus'
    static_configs:
      - targets: [ 'host.docker.internal:8882' ]