spring:
  application:
    name: demo-second-service
server:
  port: 8882
  servlet:
    context-path: /second
management:
  endpoints:
    web:
      exposure:
        include: health,prometheus
  metrics:
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true
  prometheus:
    metrics:
      export:
        enabled: true
